Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

terraform-fmt:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Checking Terraform formatting..."
  - terraform fmt -check -recursive -diff
  - echo "✅ Terraform formatting is correct"

terraform-validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Validating Terraform configurations in modules..."
  ...

terraform-lint:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl unzip bash
  - terraform --version
  ...

terraform-security:
  image: alpine:latest
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl bash
  - curl -sSLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v${TFSEC_VERSION}/tfsec-linux-amd64
  - chmod +x tfsec
  - mv tfsec /usr/local/bin/
  - tfsec --version
  script:
  ...

terraform-checkov:
  stage: validate
  allow_failure: true
  image:
    name: bridgecrew/checkov:latest
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  script:
  - checkov -d . | tee checkov.test.xml
  artifacts:
    reports:
      junit: checkov.test.xml
    paths:
  ...

terraform-docs:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  before_script:
  - apk add --no-cache curl
  - terraform --version
  - curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v0.17.0/terraform-docs-v0.17.0-$(uname)-amd64.tar.gz
  - tar -xzf terraform-docs.tar.gz
  ...

terraform-quality-gate:
  stage: validate
  image: alpine:latest
  script:
  - echo "✅ All Terraform quality checks passed!"
  - echo "Ready for merge to main branch"
  needs:
  - job: terraform-fmt
    optional: false
  - job: terraform-validate
    optional: true
  - job: terraform-lint
    optional: true
  - job: terraform-security
  ...

test-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: test
  script:
  - cd docs
  - echo "Testing documentation build..."
  - mkdocs build --verbose
  - echo "Documentation builds successfully"

build-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: build
  script:
  - cd docs
  - echo "Building documentation..."
  - mkdocs build --clean
  - echo "Documentation built successfully"
  artifacts:
    paths:
  ...

feat(web-ui): Replace CloudFront OAI with OAC
  modules/web-ui/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(build): Default lambda_architecture to arm64 (keep x86_64 selectable)
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/variables.tf
  examples/processing-environment/variables.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/variables.tf
  modules/idp-common-layer/variables.tf
  modules/lambda-image-local-build/variables.tf
  modules/lambda-layer-codebuild-idp/variables.tf
  modules/lambda-layer-codebuild/variables.tf
  modules/lambda-layer-local-build/variables.tf
  modules/processing-environment-api/agent-analytics/variables.tf
  modules/processing-environment-api/variables.tf
  modules/processing-environment/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(models): Grant bedrock-mantle IAM for OpenAI GPT-5.x
  modules/features/chat-with-document/iam.tf
  modules/features/mcp-integration/main.tf
  modules/processing-environment-api/agent-analytics/iam.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/discovery/iam.tf
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/locals.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(test-studio): Add updateTestSet AppSync resolver
  modules/processing-environment-api/test-studio.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(api): Add appsync_endpoint_for_dns output
  modules/processing-environment-api/outputs.tf
  outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(web-ui): Add configurable console_title banner
  main.tf
  modules/web-ui/main.tf
  modules/web-ui/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(pipeline-hooks): Add post-step hook dispatcher and extension points
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/pipeline_hooks.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(feature-platform): Add installable Feature Platform module
  features.tf
  modules/features/feature-platform/main.tf
  modules/features/feature-platform/outputs.tf
  modules/features/feature-platform/variables.tf
  modules/features/feature-platform/versions.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(web-ui): Add ALB hosting mode with custom domain and VPCE presign
  locals.tf
  main.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/locals.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/test-studio.tf
  modules/processing-environment-api/variables.tf
  modules/user-identity/main.tf
  modules/user-identity/variables.tf
  modules/web-ui-alb/main.tf
  modules/web-ui-alb/outputs.tf
  modules/web-ui-alb/variables.tf
  modules/web-ui-alb/versions.tf
  modules/web-ui/local-build.tf
  modules/web-ui/main.tf
  modules/web-ui/outputs.tf
  modules/web-ui/variables.tf
  outputs.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs(v0.5.16): Add CHANGELOG entry and regenerate module docs
  CHANGELOG.md
  examples/bedrock-llm-processor-vpc/main.tf
  modules/processing-environment-api/README.md
  modules/user-identity/README.md
  modules/web-ui-alb/README.md
  modules/web-ui/README.md
  modules/web-ui/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(web-ui): Fix ALB hosting deployment bugs
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  main.tf
  modules/web-ui-alb/main.tf
  modules/web-ui-alb/variables.tf
  modules/web-ui/lambda.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(examples): Harden reporting bucket and align Glue DB
  examples/unified-processor/main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

feat(examples): agent feature toggles for unified-processor (#148)
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

ci: enforce sources/ read-only (guard + dependabot autoclose)
  .github/dependabot.yml
  .github/workflows/dependabot-sources-autoclose.yml
  .github/workflows/sources-guard.yml
Due: none

fix(chat): make Chat-with-Document processor memory configurable (#157)
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  features.tf
  modules/features/chat-with-document/main.tf
  modules/features/chat-with-document/variables.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs(bundle-assembler): document opt-in in unified-processor tfvars.example
  examples/unified-processor/terraform.tfvars.example
Due: none

feat(bundle-assembler): terraform module + unified-processor wiring
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  modules/bundle-assembler/eventbridge.tf
  modules/bundle-assembler/iam.tf
  modules/bundle-assembler/main.tf
  modules/bundle-assembler/outputs.tf
  modules/bundle-assembler/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(bundle-assembler): grant s3:ListBucket on IDP input bucket
  modules/bundle-assembler/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(bundle-assembler): assembler Lambda + unit tests
  src/lambda/bundle-assembler/index.py
  src/lambda/bundle-assembler/requirements.txt
  tests/bundle-assembler/conftest.py
  tests/bundle-assembler/test_assembler.py
Due: none

fix(security): remediate 5 HIGH Wiz findings
  examples/unified-processor/knowledge-base.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  main.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/variables.tf
  modules/user-identity/main.tf
  modules/user-identity/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(security): attach Cognito WAF in unified-processor example (IDP-007)
  examples/unified-processor/main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(security): propagate HIGH-finding fixes to other example stacks
  examples/bda-processor/knowledge-base.tf
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor/knowledge-base.tf
  examples/bedrock-llm-processor/main.tf
  examples/processing-environment/main.tf
  examples/sagemaker-udop-processor/knowledge-base.tf
  examples/sagemaker-udop-processor/main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(discovery): wire missing AppSync resolvers for discovery Lambda
  modules/processing-environment-api/discovery/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(discovery): correct discovery tracking table key schema to jobId
  modules/processing-environment-api/discovery/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(discovery): bundle aws-requests-auth into processor Lambda zip
  modules/processing-environment-api/discovery/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(discovery): port multi-document discovery pipeline to Terraform
  modules/processing-environment-api/discovery/iam.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/multi-doc-discovery.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(ui): hide legacy embedded pricing section in config editor
  sources/src/ui/src/components/configuration-layout/ConfigBuilder.tsx
Due: none

fix(idp_common): handle '#' in S3 keys when decompressing documents
  sources/lib/idp_common_pkg/idp_common/models.py
  sources/lib/idp_common_pkg/tests/unit/test_document_compression.py
Due: none

feat(pricing): seed DefaultPricing from config_library/pricing.yaml
  modules/processor-configuration/main.tf
  src/lambda/configuration-seeder/index.py
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(hook): create EventBridge rule to trigger post-processing hook
  main.tf
  modules/processor-attachment/eventbridge.tf
  modules/processor-attachment/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: sweep remaining urlparse-based S3 URI parsing for '#' safety
  sources/lib/idp_common_pkg/idp_common/reporting/save_reporting_data.py
  sources/lib/idp_common_pkg/idp_common/utils/s3util.py
  sources/lib/idp_common_pkg/tests/unit/test_s3util_uri_parsing.py
  sources/patterns/unified/src/bda_processresults_function/index.py
  sources/patterns/unified/src/processresults_function/index.py
Due: none

fix(discovery): set CONFIGURATION_TABLE_NAME on processor Lambda
  modules/processing-environment-api/discovery/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(reprocess): add missing env vars + IAM for reprocess resolver
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(appsync): handle '#' in S3 keys in getFileContents resolver
  sources/nested/appsync/src/lambda/get_file_contents_resolver/index.py
Due: none

fix(discovery): grant AppSync DynamoDB role access to discovery table
  modules/processing-environment-api/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat: expose custom_post_processor_arn (post-processing Lambda hook)
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
  main.tf
  variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(discovery): correct AppSync URL and multi-doc zip upload flow
  modules/processing-environment-api/main.tf
  sources/nested/appsync/src/lambda/discovery_upload_resolver/index.py
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*
