Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*

fix(bda): include ocr/extraction extras for all processors; wire CONFIG_TABLE for routing
  locals.tf
  modules/processor-attachment/iam.tf
  modules/processor-attachment/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

udop: classify through the native sagemaker backend
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/sagemaker-udop-processor/README.md
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/outputs.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/README.md
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/lambda.tf
  modules/processors/unified-processor/src/sagemaker_classification_function/index.py
  modules/processors/unified-processor/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: refresh changelog and drop stale migration leftovers
  CHANGELOG.md
  docs/content/index.md
  docs/plans/v0.4.16-to-v0.5.12-plan.md
  scripts/test-mcp-moved.sh
Due: test-docs, build-docs

trim over-long comments in root config
  features.tf
  main.tf
  network.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

trim over-long comments in unified-processor
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/iam_bda.tf
  modules/processors/unified-processor/iam_bedrock_hub.tf
  modules/processors/unified-processor/lambda.tf
  modules/processors/unified-processor/lambda_bda.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/locals.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processing-environment-api,unified-processor): make modules plannable with default config
  modules/processing-environment-api/outputs.tf
  modules/processors/unified-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(examples): wire required inputs so standalone examples plan cleanly
  examples/processing-environment-api/main.tf
  examples/processing-environment/main.tf
  examples/user-identity-standalone/outputs.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix: address PR review (P0 ecr_login bug, CI tfsec, build_runtime_check count)
  .github/workflows/terraform-validation.yml
  main.tf
  modules/processors/bda-processor/local-build.tf
  modules/processors/sagemaker-udop-processor/local-build.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs(changelog): document layer-build deviation (null_resource vs terraform-aws-modules/lambda)
  CHANGELOG.md
Due: none

style: fix terraform fmt alignment in bda-processor local-build.tf
  modules/processors/bda-processor/local-build.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

test: add test_all_configs.sh for end-to-end processor config testing
  scripts/test_all_configs.sh
Due: none

fix(processing-environment-api): guard KMS policy Resource against null key
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

Test/run all examples (#125)
  scripts/test_all_configs.sh
Due: none

Fix/examples plan cleanly (#124)
  examples/processing-environment-api/main.tf
  examples/processing-environment/main.tf
  examples/user-identity-standalone/outputs.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processors/unified-processor/iam.tf
  scripts/test_all_configs.sh
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

seed extra config versions from tfvars
  .gitignore
  examples/bda-processor/main.tf
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/config-catalog/.gitkeep
  examples/config-catalog/README.md
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/processor-configuration/README.md
  modules/processor-configuration/main.tf
  modules/processor-configuration/variables.tf
  modules/processors/bda-processor/README.md
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/README.md
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/README.md
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat: activate build.ui_local — local web UI build path
  CHANGELOG.md
  docs/content/deployment-guides/local-web-ui-build.md
  examples/bda-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.local-dev.example
  examples/processing-environment/terraform.tfvars.example
  examples/sagemaker-udop-processor/terraform.tfvars.example
  main.tf
  modules/lambda-layer-codebuild/README.md
  modules/web-ui-build-check/README.md
  modules/web-ui-build-check/main.tf
  modules/web-ui-build-check/outputs.tf
  modules/web-ui-build-check/variables.tf
  modules/web-ui-build-check/versions.tf
  modules/web-ui/README.md
  modules/web-ui/lambda.tf
  modules/web-ui/local-build.tf
  modules/web-ui/main.tf
  modules/web-ui/outputs.tf
  modules/web-ui/variables.tf
  scripts/build-web-ui.sh
  scripts/detect-node-runtime.sh
  tests/validate-web-ui-build-check.sh
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

fix(bda-processor): force use_bda=true on seeded default config
  modules/processors/bda-processor/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(unified-processor): output effective bda_project_arn
  examples/unified-processor/outputs.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(chat-with-document): grant s3:PutObject on output bucket
  modules/features/chat-with-document/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(knowledge-base): build KB query model ARN by model type
  sources/nested/appsync/src/lambda/query_knowledgebase_resolver/index.py
Due: none

feat(unified-processor): enable Discovery + fix discovery inference-profile IAM
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  modules/processing-environment-api/discovery/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs(examples): reconcile KB model guidance + proper tfvars examples
  examples/bda-processor/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/unified-processor/README.md
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

revert(sources): restore vendored KB query resolver to pristine snapshot
  sources/nested/appsync/src/lambda/query_knowledgebase_resolver/index.py
Due: none

style: trim verbose comments on discovery IAM, bda_project_arn output, discovery wiring
  examples/unified-processor/main.tf
  examples/unified-processor/outputs.tf
  modules/processing-environment-api/discovery/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): accept any for enabled_feature_contracts
  modules/processing-environment-api/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(chat-with-document): grant EC2 ENI permissions for VPC-attached Lambdas
  modules/features/chat-with-document/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processing-environment): set CONFIG_TABLE env on queue_sender
  modules/processing-environment/lambda_functions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): gate composed feature IAM policy on plan-known flag
  main.tf
  modules/processing-environment-api/feature-plugins.tf
  modules/processing-environment-api/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(rbac): wire user-management data source and resolve Admin group collision
  examples/bda-processor/main.tf
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  modules/features/rbac/outputs.tf
  modules/processing-environment-api/feature-plugins.tf
  outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(examples): default chat-with-document and knowledge base on
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/README.md
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

feat(config): add seed_managed_configs flag to skip managed baselines
  examples/bda-processor/main.tf
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  main.tf
  modules/processor-configuration/main.tf
  modules/processor-configuration/variables.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: consolidate v0.5.12 release notes under tf.0
  CHANGELOG.md
  README.md
  VERSION
  docs/plans/typedateindex-gsi-inplace-0-0.md
Due: terraform-docs, test-docs, build-docs

feat(examples): add headless dual-mode example
  examples/unified-headless-demo/main.tf
  examples/unified-headless-demo/outputs.tf
  examples/unified-headless-demo/terraform.tfvars.example
  examples/unified-headless-demo/variables.tf
  examples/unified-headless-demo/versions.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(build): scope local build to layers + web UI; drop phantom container-image path
  examples/bda-processor/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
  main.tf
  modules/processors/bda-processor/local-build.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/outputs.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/sagemaker-udop-processor/local-build.tf
  modules/processors/sagemaker-udop-processor/outputs.tf
  modules/processors/sagemaker-udop-processor/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(examples): add agent feature toggles to unified-processor
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate
