Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

terraform-fmt:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Checking Terraform formatting..."
  - terraform fmt -check -recursive -diff
  - echo "✅ Terraform formatting is correct"

terraform-validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Validating Terraform configurations in modules..."
  ...

terraform-lint:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl unzip bash
  - terraform --version
  ...

terraform-security:
  image: alpine:latest
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl bash
  - curl -sSLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v${TFSEC_VERSION}/tfsec-linux-amd64
  - chmod +x tfsec
  - mv tfsec /usr/local/bin/
  - tfsec --version
  script:
  ...

terraform-checkov:
  stage: validate
  allow_failure: true
  image:
    name: bridgecrew/checkov:latest
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  script:
  - checkov -d . | tee checkov.test.xml
  artifacts:
    reports:
      junit: checkov.test.xml
    paths:
  ...

terraform-docs:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  before_script:
  - apk add --no-cache curl
  - terraform --version
  - curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v0.17.0/terraform-docs-v0.17.0-$(uname)-amd64.tar.gz
  - tar -xzf terraform-docs.tar.gz
  ...

terraform-quality-gate:
  stage: validate
  image: alpine:latest
  script:
  - echo "✅ All Terraform quality checks passed!"
  - echo "Ready for merge to main branch"
  needs:
  - job: terraform-fmt
    optional: false
  - job: terraform-validate
    optional: true
  - job: terraform-lint
    optional: true
  - job: terraform-security
  ...

test-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: test
  script:
  - cd docs
  - echo "Testing documentation build..."
  - mkdocs build --verbose
  - echo "Documentation builds successfully"

build-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: build
  script:
  - cd docs
  - echo "Building documentation..."
  - mkdocs build --clean
  - echo "Documentation built successfully"
  artifacts:
    paths:
  ...

fix: remove enable_assessment variable for CloudFormation parity
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/iam.tf
  modules/processors/sagemaker-udop-processor/lambda.tf
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: add missing permissions and environment variables to reporting module
  modules/reporting/main.tf
  modules/reporting/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat: migrate all examples to consolidated API variable structure
  examples/README.md
  examples/bda-processor/knowledge-base.tf
  examples/bda-processor/main.tf
  examples/bda-processor/outputs.tf
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/README.md
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/outputs.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/knowledge-base.tf
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/outputs.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/README.md
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/outputs.tf
  examples/sagemaker-udop-processor/sagemaker-model/training_status_checker.py.tpl
  examples/sagemaker-udop-processor/src/sagemaker_train/requirements.txt
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix: minor improvements to lambda layer and web UI modules
  modules/lambda-layer-codebuild/main.tf
  modules/web-ui/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

refactor: shorten sagemaker-udop processor IAM role names
  modules/processors/sagemaker-udop-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: Update Terraform docs after updates
  modules/processors/sagemaker-udop-processor/README.md
Due: terraform-docs

docs: add versioning scheme documentation to README
  README.md
  VERSION
Due: terraform-docs

fix: ensure random_string is created before DynamoDB table modules
  modules/processing-environment/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: ensure random_string is created before DynamoDB table modules (#17)
  modules/processing-environment/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: adds aws.us-east-1 provider alias for WAF CloudFront integration
  examples/bda-processor/main.tf
  examples/bda-processor/versions.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/versions.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  main.tf
  modules/web-ui/main.tf
  modules/web-ui/versions.tf
  versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: adds aws.us-east-1 provider alias for WAF CloudFront integration (#18)
  examples/bda-processor/main.tf
  examples/bda-processor/versions.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/versions.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  main.tf
  modules/web-ui/main.tf
  modules/web-ui/versions.tf
  versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore: bump version to 0.3.18-tf.1
  VERSION
Due: none

feat: upgrade to v0.4.15-tf.1 - P0 core features
  VERSION
  modules/processors/bda-processor/lambda.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/sagemaker-udop-processor/lambda.tf
  sources/VERSION
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): refactor Lambda layer build and simplify API resolvers
  modules/lambda-layer-codebuild/main.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/error-analyzer.tf
  modules/processing-environment-api/test-studio.tf
  modules/processors/bedrock-llm-processor/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): update documentation and add S3 consistency handling
  modules/lambda-layer-codebuild/README.md
  modules/processing-environment-api/README.md
  modules/processing-environment/lambda_functions.tf
  modules/processing-environment/lambda_save_reporting_data.tf
  modules/processors/bedrock-llm-processor/README.md
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): enhance agent companion chat with multi-table schema and expanded permissions
  main.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/error-analyzer.tf
  modules/processing-environment-api/variables.tf
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/web-ui/buildspec.yml
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): enhance agent companion chat
  locals.tf
  modules/lambda-layer-codebuild-idp/variables.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): add SQS queues and async processing for test studio
  modules/processing-environment-api/test-studio.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): attach missing common layer to API resolver Lambda
  modules/processing-environment-api/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): consolidate API configuration and refine knowledge base validation
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  locals.tf
  variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): refine processor configuration and improve build polling
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  modules/processors/bda-processor/codebuild.tf
  modules/processors/sagemaker-udop-processor/codebuild.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): refine processor configuration and improve build polling
  main.tf
  modules/processors/bda-processor/codebuild.tf
  modules/processors/bda-processor/iam.tf
  modules/processors/bda-processor/lambda.tf
  modules/processors/sagemaker-udop-processor/codebuild.tf
  modules/processors/sagemaker-udop-processor/iam.tf
  modules/processors/sagemaker-udop-processor/lambda.tf
  sources/Dockerfile.optimized
  sources/publish.py
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): add knowledge base infrastructure and update model configurations
  examples/bda-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/knowledge-base.tf
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/bedrock-llm-processor/versions.tf
  main.tf
  modules/processing-environment-api/main.tf
  sources/src/lambda/query_knowledgebase_resolver/index.py
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): add knowledge base infrastructure and update model configurations
  examples/bda-processor/main.tf
  examples/bda-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

feat(upgrade-0.4.8-tf.0): enhance SageMaker model polling with S3 existence verification
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/sagemaker-model/check_s3_model.py
  examples/sagemaker-udop-processor/sagemaker-model/main.tf
  examples/sagemaker-udop-processor/sagemaker-model/outputs.tf
  examples/sagemaker-udop-processor/sagemaker-model/s3_model_checker.py.tpl
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  modules/processors/sagemaker-udop-processor/iam.tf
  modules/processors/sagemaker-udop-processor/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(pattern-2): add conditional summarization step to workflow
  sources/patterns/pattern-2/statemachine/workflow.asl.json
Due: none

chore: refactor dependabot configuration for clarity
  .github/dependabot.yml
Due: none

chore: refactor dependabot configuration for clarity (#37)
  .github/dependabot.yml
Due: none

feat(genai-idp): upgrade to v0.4.16 with expanded API features and processor enhancements
  Makefile
  README.md
  docs/migration-guide.md
  examples/bda-processor/README.md
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor-vpc/README.md
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor/README.md
  examples/bedrock-llm-processor/main.tf
  examples/processing-environment/README.md
  examples/sagemaker-udop-processor/README.md
  examples/sagemaker-udop-processor/main.tf
  main.tf
  modules/human-review/README.md
  modules/processing-environment-api/README.md
  modules/processing-environment-api/abort-workflow.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/resolvers.tf
  modules/processing-environment-api/sync-bda-idp.tf
  modules/processing-environment/README.md
  modules/processing-environment/main.tf
  modules/processors/bda-processor/README.md
  modules/processors/bda-processor/lambda.tf
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/bedrock-llm-processor/lambda_rule_validation.tf
  modules/processors/sagemaker-udop-processor/README.md
  modules/reporting/README.md
  sources/src/lambda/abort_workflow_resolver/index.py
  sources/src/lambda/abort_workflow_resolver/requirements.txt
  sources/src/lambda/sync_bda_idp_resolver/index.py
  sources/src/lambda/sync_bda_idp_resolver/requirements.txt
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

feat(genai-idp): expand GraphQL schema with capacity planning
  sources/src/api/schema.graphql
Due: none

feat(genai-idp): add CloudFront S3 logging ACL support and dynamic IDP version
  examples/bda-processor/main.tf
  main.tf
  modules/processors/bda-processor/main.tf
  modules/web-ui/main.tf
  modules/web-ui/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(terraform): Rewrite config seeder and fix v0.4.16 upgrade issues
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/variables.tf
  main.tf
  modules/lambda-layer-codebuild-idp/buildspec.yml
  modules/lambda-layer-codebuild-idp/main.tf
  modules/processor-configuration/main.tf
  modules/processor-configuration/variables.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/lambda_rule_validation.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/main.tf
  src/lambda/configuration-seeder/index.py
  src/lambda/configuration-seeder/requirements.txt
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(terraform): lint
  examples/bedrock-llm-processor/README.md
  modules/lambda-layer-codebuild-idp/buildspec.yml
  modules/lambda-layer-codebuild-idp/main.tf
  modules/processor-configuration/README.md
  modules/processors/bedrock-llm-processor/README.md
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore(pre-commit): Make terraform validate, lint, and tfsec warn-only
  .pre-commit-config.yaml
  scripts/precommit-warn.sh
Due: none

feat(terraform): Add check for agent analytics reporting dependency
  main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(lambda-layer-codebuild-idp): Add S3 key prefix to prevent layer overwrites
  modules/lambda-layer-codebuild-idp/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*
