Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

terraform-fmt:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Checking Terraform formatting..."
  - terraform fmt -check -recursive -diff
  - echo "✅ Terraform formatting is correct"

terraform-validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Validating Terraform configurations in modules..."
  ...

terraform-lint:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl unzip bash
  - terraform --version
  ...

terraform-security:
  image: alpine:latest
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl bash
  - curl -sSLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v${TFSEC_VERSION}/tfsec-linux-amd64
  - chmod +x tfsec
  - mv tfsec /usr/local/bin/
  - tfsec --version
  script:
  ...

terraform-checkov:
  stage: validate
  allow_failure: true
  image:
    name: bridgecrew/checkov:latest
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  script:
  - checkov -d . | tee checkov.test.xml
  artifacts:
    reports:
      junit: checkov.test.xml
    paths:
  ...

terraform-docs:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  before_script:
  - apk add --no-cache curl
  - terraform --version
  - curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v0.17.0/terraform-docs-v0.17.0-$(uname)-amd64.tar.gz
  - tar -xzf terraform-docs.tar.gz
  ...

terraform-quality-gate:
  stage: validate
  image: alpine:latest
  script:
  - echo "✅ All Terraform quality checks passed!"
  - echo "Ready for merge to main branch"
  needs:
  - job: terraform-fmt
    optional: false
  - job: terraform-validate
    optional: true
  - job: terraform-lint
    optional: true
  - job: terraform-security
  ...

test-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: test
  script:
  - cd docs
  - echo "Testing documentation build..."
  - mkdocs build --verbose
  - echo "Documentation builds successfully"

build-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: build
  script:
  - cd docs
  - echo "Building documentation..."
  - mkdocs build --clean
  - echo "Documentation built successfully"
  artifacts:
    paths:
  ...

feat(processors): wire rule validation into the workflow
  CHANGELOG.md
  README.md
  examples/bda-processor/main.tf
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
  main.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/pipeline_hooks.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: fix processor naming, config paths, API transport, add rule validation
  docs/content/examples/bda-processor.md
  docs/content/examples/bedrock-llm-processor.md
  docs/content/examples/index.md
  docs/content/examples/sagemaker-udop.md
  docs/content/getting-started/installation.md
  docs/content/getting-started/quick-start.md
  docs/content/terraform-modules/index.md
Due: test-docs, build-docs

docs: rewrite deployment guides against the real variable surface
  docs/content/deployment-guides/best-practices.md
  docs/content/deployment-guides/environment-setup.md
Due: test-docs, build-docs

feat(example): expose enable_test_studio passthrough in unified-processor example
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(rbac): publish createUser field_function so the REST dispatcher serves user-management operations
  modules/features/rbac/outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(examples): forward api feature flags in sagemaker-udop (var.api was accepted but dropped); expose enable_test_studio in processing-environment-api example
  examples/processing-environment-api/main.tf
  examples/processing-environment-api/variables.tf
  examples/sagemaker-udop-processor/main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix: use parse_s3_uri instead of urlparse().path in Document.decompress
  sources/lib/idp_common_pkg/idp_common/models.py
  sources/lib/idp_common_pkg/tests/unit/test_document_compression.py
Due: none

feat(processor)!: collapse three processor inputs into one processor variable (#212)
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  examples/unified-processor/main.tf
  features.tf
  locals.tf
  main.tf
  modules/processors/bda-processor/main.tf
  outputs.tf
  tests/exactly-one-processor.tftest.hcl
  tests/feature-plugin-enablement.tftest.hcl
  tests/private-endpoint-gap.tftest.hcl
  tests/processor-type-validation.tftest.hcl
  tests/rbac-federation-enablement.tftest.hcl
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

feat: wire rule validation into the Step Functions workflow (#213)
  CHANGELOG.md
  README.md
  examples/bda-processor/main.tf
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/processing-environment-api/main.tf
  examples/processing-environment-api/variables.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/terraform.tfvars.example
  examples/unified-processor/variables.tf
  main.tf
  modules/features/rbac/outputs.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/pipeline_hooks.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(config)!: make step models config-authoritative and preserve operator edits (#211)
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  modules/processor-configuration/main.tf
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/locals.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/tests/engine_config_authority.tftest.hcl
  src/lambda/configuration-seeder/index.py
  src/lambda/configuration-seeder/test_index.py
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

docs: fix processor naming, config paths, and API transport; document rule validation (#215)
  docs/content/deployment-guides/best-practices.md
  docs/content/deployment-guides/environment-setup.md
  docs/content/examples/bda-processor.md
  docs/content/examples/bedrock-llm-processor.md
  docs/content/examples/index.md
  docs/content/examples/sagemaker-udop.md
  docs/content/getting-started/installation.md
  docs/content/getting-started/quick-start.md
  docs/content/terraform-modules/index.md
Due: test-docs, build-docs

fix(lambda): restore configurable Chat-with-Document and rule-validation memory (#157)
  CHANGELOG.md
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/variables.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  features.tf
  main.tf
  modules/features/chat-with-document/README.md
  modules/features/chat-with-document/main.tf
  modules/features/chat-with-document/variables.tf
  modules/processors/bda-processor/README.md
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/README.md
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/README.md
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): Null-guard the bucket-name locals
  modules/processing-environment-api/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: Correct version markers for the 0.6.4 release
  CHANGELOG.md
  README.md
  docs/content/index.md
Due: terraform-docs, test-docs, build-docs

docs: Correct version markers for the 0.6.4 release (#232)
  CHANGELOG.md
  README.md
  docs/content/index.md
Due: terraform-docs, test-docs, build-docs

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*
