Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*

docs: links fix
  README.md
  docs/content/examples/index.md
  docs/content/getting-started/installation.md
  docs/content/index.md
  docs/mkdocs.yml
Due: terraform-docs, test-docs, build-docs

Add GitHub Actions workflow for MkDocs deployment
  .github/workflows/docs.yml
Due: none

docs(update): workflow update
  .github/workflows/docs.yml
Due: none

feat/init: Update missing notice headers
  docs/serve.sh
  examples/processing-environment/demo.sh
  examples/processing-environment/verify_example.sh
  examples/sagemaker-udop-processor/src/generate_demo_data/index.py
  examples/sagemaker-udop-processor/src/sagemaker_train/code/inference.py
  examples/sagemaker-udop-processor/src/sagemaker_train/code/model.py
  examples/sagemaker-udop-processor/src/sagemaker_train/code/train.py
  examples/sagemaker-udop-processor/src/sagemaker_train/code/utils.py
  examples/sagemaker-udop-processor/src/sagemaker_train/index.py
  examples/sagemaker-udop-processor/src/sagemaker_train_is_complete/index.py
  modules/lambda-layer-codebuild/verify_cloudwatch_logs_fix.sh
  modules/processing-environment/verify_external_dependency.sh
  modules/processors/bda-processor/comment_evaluation.py
  sources/lib/idp_common_pkg/clean_build.sh
  sources/lib/idp_common_pkg/idp_common/model_finetuning/__init__.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/create_finetuning_job.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/create_provisioned_throughput.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/inference_example.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/models.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/prepare_nova_finetuning_data.py
  sources/lib/idp_common_pkg/idp_common/model_finetuning/service.py
  sources/lib/idp_common_pkg/tests/unit/reporting/__init__.py
  sources/src/lambda/evaluation_function/save_to_reporting.py
  sources/src/lambda/save_reporting_data/index.py
  sources/src/lambda/save_reporting_data/test_index.py
  src/lambda/configuration-seeder/index.py
  src/lambda/idp-layer-codebuild-trigger/index.py
  src/lambda/layer-codebuild-trigger/index.py
  src/lambda/ui-codebuild-trigger/index.py
  sync-sources.sh
  validate-sync.sh
Due: test-docs, build-docs

docs: removes not needed files
  LICENSE copy
  SECURITY.md
  VALIDATION.md
  sync-sources.sh
  validate-sync.sh
Due: none

docs: remove Chengelog
  CHANGELOG.md
Due: none

Review the readme files
  README.md
  docs/content/examples/bda-processor.md
  docs/content/examples/bedrock-llm-processor.md
  examples/README.md
  examples/processing-environment/CHANGELOG_EXAMPLE_UPDATE.md
  examples/sagemaker-udop-processor/sagemaker-model/README.md
  sources/AmazonQ.md
  sources/CHANGELOG.md
  sources/config_library/pattern-2/README.md
  sources/docs/few-shot-examples.md
  sources/lib/idp_common_pkg/README.md
  sources/lib/idp_common_pkg/idp_common/README.md
  sources/lib/idp_common_pkg/idp_common/assessment/README.md
  sources/lib/idp_common_pkg/idp_common/evaluation/README.md
  sources/lib/idp_common_pkg/idp_common/extraction/README.md
  sources/lib/idp_common_pkg/idp_common/ocr/README.md
  sources/lib/idp_common_pkg/tests/README.md
  sources/memory-bank/projectbrief.md
Due: terraform-docs, test-docs, build-docs

Update GenAI IDP Accelerator links to GitHub repository
  README.md
Due: terraform-docs

Update repository path from genaiic-idp-accelerator-terraform to genai-idp-terraform
  CONTRIBUTING.md
  README.md
  docs/content/contributing/development.md
  docs/content/contributing/index.md
  docs/content/examples/index.md
  docs/content/getting-started/installation.md
  docs/mkdocs.yml
  examples/bda-processor/README.md
  examples/bedrock-llm-processor/README.md
  examples/sagemaker-udop-processor/README.md
Due: terraform-docs, test-docs, build-docs

Update CDK repository link to cdklabs/genai-idp
  README.md
Due: terraform-docs

Update documentation links and repository references (#2)
  CONTRIBUTING.md
  README.md
  docs/content/contributing/development.md
  docs/content/contributing/index.md
  docs/content/examples/index.md
  docs/content/getting-started/installation.md
  docs/mkdocs.yml
  examples/bda-processor/README.md
  examples/bedrock-llm-processor/README.md
  examples/sagemaker-udop-processor/README.md
Due: terraform-docs, test-docs, build-docs

docs: update IDP version references from 0.3.8 to 0.3.18, improvement of pre-commit
  .pre-commit-config.yaml
  docs/content/index.md
  examples/README.md
  modules/web-ui/README.md
  modules/web-ui/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

ci: add Dependabot configuration for automated dependency updates, formatting
  .github/dependabot.yml
  modules/agent-analytics/main.tf
  modules/processing-environment-api/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: add Terraform documentation and README files for all modules
  README.md
  examples/bda-processor/README.md
  examples/bedrock-llm-processor-vpc/README.md
  examples/bedrock-llm-processor/README.md
  examples/core-tables/README.md
  examples/processing-environment-api/README.md
  examples/processing-environment/README.md
  examples/sagemaker-udop-processor/README.md
  examples/sagemaker-udop-processor/sagemaker-model/README.md
  examples/user-identity-standalone/README.md
  modules/agent-analytics/README.md
  modules/assets-bucket/README.md
  modules/concurrency-table/README.md
  modules/configuration-table/README.md
  modules/discovery/README.md
  modules/human-review/README.md
  modules/human-review/functions/cognito-updater/README.md
  modules/human-review/functions/create-a2i-resources/README.md
  modules/human-review/functions/get-workforce-url/README.md
  modules/human-review/functions/pattern2-hitl-process/README.md
  modules/human-review/functions/pattern2-hitl-status-update/README.md
  modules/human-review/functions/pattern2-hitl-wait/README.md
  modules/idp-common-layer/README.md
  modules/lambda-layer-codebuild-idp/README.md
  modules/lambda-layer-codebuild/README.md
  modules/processing-environment-api/README.md
  modules/processing-environment/README.md
  modules/processor-attachment/README.md
  modules/processor-configuration/README.md
  modules/processors/bda-processor/README.md
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/sagemaker-udop-processor/README.md
  modules/reporting/README.md
  modules/tracking-table/README.md
  modules/user-identity/README.md
Due: terraform-docs

fix(workflow_tracker): improve document key extraction with fallback formats
  sources/src/lambda/workflow_tracker/index.py
Due: none

fix(workflow_tracker): add S3 working bucket support for document compression
  modules/processor-attachment/iam.tf
  modules/processor-attachment/lambda.tf
  sources/src/lambda/workflow_tracker/index.py
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(classification) Decrease classification Lambda memory_size from 4096 MB to 3008 MB
  modules/processors/bedrock-llm-processor/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(agent-analytics): add proper Bedrock inference profile support
  modules/agent-analytics/iam.tf
  modules/agent-analytics/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(examples): update agent analytics default model to use inference profile
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(agent-analytics): add missing variables for proper configuration
  modules/agent-analytics/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(lambda-layers): resolve S3 path issues in CodeBuild artifacts
  modules/lambda-layer-codebuild/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat: implement comprehensive functional parity improvements
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  main.tf
  modules/processing-environment-api/agent_resolvers.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/variables.tf
  modules/processors/bda-processor/iam.tf
  modules/processors/bda-processor/lambda.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/outputs.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/reporting/main.tf
  modules/reporting/variables.tf
  outputs.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(discovery): implement dedicated discovery bucket and complete discovery functionality
  examples/bda-processor/main.tf
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/processing-environment-api/discovery/iam.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/outputs.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/discovery/versions.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/variables.tf
  modules/web-ui/main.tf
  modules/web-ui/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat: add chat-with-document functionality to processing environment API
  examples/bda-processor/main.tf
  examples/bda-processor/terraform.tfvars.example
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/processing-environment-api/chat-with-document/iam.tf
  modules/processing-environment-api/chat-with-document/main.tf
  modules/processing-environment-api/chat-with-document/outputs.tf
  modules/processing-environment-api/chat-with-document/variables.tf
  modules/processing-environment-api/chat-with-document/versions.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(processors): achieve 100% schema parity with CloudFormation patterns
  modules/processors/bda-processor/schema.json
  modules/processors/bedrock-llm-processor/schema.json
  modules/processors/sagemaker-udop-processor/schema.json
Due: none

fix(lambda-layers): resolve S3 key path mismatch causing layer creation failures
  modules/lambda-layer-codebuild/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(terraform): resolve count/for_each dependency cycle issues
  modules/processing-environment-api/chat-with-document/iam.tf
  modules/processing-environment-api/discovery/iam.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(web-ui): enable dynamic Knowledge Base configuration
  main.tf
  modules/web-ui/lambda.tf
  modules/web-ui/main.tf
  modules/web-ui/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(api): add discovery bucket output for Web UI integration
  modules/processing-environment-api/outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore: remove GitLab CI configuration and update documentation
  .gitlab-ci.yml
  README.md
Due: terraform-docs

feat(api): extract process changes as standalone sub-module
  examples/bda-processor/main.tf
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/process-changes/iam.tf
  modules/processing-environment-api/process-changes/main.tf
  modules/processing-environment-api/process-changes/outputs.tf
  modules/processing-environment-api/process-changes/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore: remove unused top-level discovery module
  modules/discovery/README.md
  modules/discovery/iam.tf
  modules/discovery/main.tf
  modules/discovery/outputs.tf
  modules/discovery/variables.tf
  modules/discovery/versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore: bump version to 0.1.0
  VERSION
Due: none

feat: consolidate API variables into single compound variable
  locals.tf
  main.tf
  outputs.tf
  variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix: achieve functional parity for agent analytics with CloudFormation
  modules/processing-environment-api/agent-analytics/README.md
  modules/processing-environment-api/agent-analytics/iam.tf
  modules/processing-environment-api/agent-analytics/main.tf
  modules/processing-environment-api/agent-analytics/outputs.tf
  modules/processing-environment-api/agent-analytics/variables.tf
  modules/processing-environment-api/agent-analytics/versions.tf
  modules/processing-environment-api/agent_resolvers.tf
  modules/processing-environment-api/chat-with-document/iam.tf
  modules/processing-environment-api/chat-with-document/main.tf
  modules/processing-environment-api/discovery/iam.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/process-changes/iam.tf
  modules/processing-environment-api/process-changes/main.tf
  modules/processing-environment-api/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate
