Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

terraform-fmt:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Checking Terraform formatting..."
  - terraform fmt -check -recursive -diff
  - echo "✅ Terraform formatting is correct"

terraform-validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Validating Terraform configurations in modules..."
  ...

terraform-lint:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl unzip bash
  - terraform --version
  ...

terraform-security:
  image: alpine:latest
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl bash
  - curl -sSLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v${TFSEC_VERSION}/tfsec-linux-amd64
  - chmod +x tfsec
  - mv tfsec /usr/local/bin/
  - tfsec --version
  script:
  ...

terraform-checkov:
  stage: validate
  allow_failure: true
  image:
    name: bridgecrew/checkov:latest
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  script:
  - checkov -d . | tee checkov.test.xml
  artifacts:
    reports:
      junit: checkov.test.xml
    paths:
  ...

terraform-docs:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  before_script:
  - apk add --no-cache curl
  - terraform --version
  - curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v0.17.0/terraform-docs-v0.17.0-$(uname)-amd64.tar.gz
  - tar -xzf terraform-docs.tar.gz
  ...

terraform-quality-gate:
  stage: validate
  image: alpine:latest
  script:
  - echo "✅ All Terraform quality checks passed!"
  - echo "Ready for merge to main branch"
  needs:
  - job: terraform-fmt
    optional: false
  - job: terraform-validate
    optional: true
  - job: terraform-lint
    optional: true
  - job: terraform-security
  ...

test-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: test
  script:
  - cd docs
  - echo "Testing documentation build..."
  - mkdocs build --verbose
  - echo "Documentation builds successfully"

build-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: build
  script:
  - cd docs
  - echo "Building documentation..."
  - mkdocs build --clean
  - echo "Documentation built successfully"
  artifacts:
    paths:
  ...

fix(discovery): grant processor cloudwatch:PutMetricData (P3 cleanup)
  modules/processing-environment-api/discovery/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(reprocess): pass document queue URL to API unconditionally
  main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

chore: revert sources/ edits — to be fixed upstream per maintainer
  sources/lib/idp_common_pkg/idp_common/models.py
  sources/lib/idp_common_pkg/idp_common/reporting/save_reporting_data.py
  sources/lib/idp_common_pkg/idp_common/utils/s3util.py
  sources/lib/idp_common_pkg/tests/unit/test_document_compression.py
  sources/lib/idp_common_pkg/tests/unit/test_s3util_uri_parsing.py
  sources/nested/appsync/src/lambda/discovery_upload_resolver/index.py
  sources/nested/appsync/src/lambda/get_file_contents_resolver/index.py
  sources/patterns/unified/src/bda_processresults_function/index.py
  sources/patterns/unified/src/processresults_function/index.py
  sources/src/ui/src/components/configuration-layout/ConfigBuilder.tsx
Due: none

fix(security): remediate 5 HIGH Wiz findings across example stacks (#165)
  examples/bda-processor/knowledge-base.tf
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor/knowledge-base.tf
  examples/bedrock-llm-processor/main.tf
  examples/processing-environment/main.tf
  examples/sagemaker-udop-processor/knowledge-base.tf
  examples/sagemaker-udop-processor/main.tf
  examples/unified-processor/knowledge-base.tf
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  main.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/variables.tf
  modules/user-identity/main.tf
  modules/user-identity/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(waf): add Known Bad Inputs managed rule to Cognito Web ACLs
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  examples/unified-processor/main.tf
  modules/user-identity/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

refactor(api): repoint resolver source paths from nested/appsync to nested/api-resolvers
  modules/features/chat-with-document/main.tf
  modules/features/rbac/main.tf
  modules/features/rbac/outputs.tf
  modules/features/rbac/tests/schema_fixture/main.tf
  modules/processing-environment-api/abort-workflow.tf
  modules/processing-environment-api/agent-analytics/main.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/process-changes/main.tf
  modules/processing-environment-api/sync-bda-idp.tf
  modules/processing-environment-api/test-studio.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

wip(api): AppSync→REST rewrite in progress [do not merge]
  modules/processing-environment-api/abort-workflow.tf
  modules/processing-environment-api/agent-analytics/iam.tf
  modules/processing-environment-api/agent-analytics/main.tf
  modules/processing-environment-api/agent-analytics/variables.tf
  modules/processing-environment-api/agent-companion-chat.tf
  modules/processing-environment-api/agent_resolvers.tf
  modules/processing-environment-api/api_key.tf
  modules/processing-environment-api/capacity-planning.tf
  modules/processing-environment-api/data_sources.tf
  modules/processing-environment-api/discovery/iam.tf
  modules/processing-environment-api/discovery/main.tf
  modules/processing-environment-api/discovery/variables.tf
  modules/processing-environment-api/dispatcher.tf
  modules/processing-environment-api/feature-plugins.tf
  modules/processing-environment-api/hitl.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/lambda.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/process-changes/iam.tf
  modules/processing-environment-api/process-changes/main.tf
  modules/processing-environment-api/process-changes/outputs.tf
  modules/processing-environment-api/process-changes/variables.tf
  modules/processing-environment-api/resolvers.tf
  modules/processing-environment-api/rest-api.tf
  modules/processing-environment-api/sync-bda-idp.tf
  modules/processing-environment-api/test-studio.tf
  modules/processing-environment-api/variables.tf
  modules/processing-environment-api/version-check.tf
  modules/processing-environment-api/versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

refactor(api): rewire root/examples off removed AppSync outputs
  examples/bedrock-llm-processor-vpc/outputs.tf
  examples/processing-environment-api/outputs.tf
  features.tf
  main.tf
  outputs.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

feat(api): Add chat streaming Function URL and rewire web UI to REST
  locals.tf
  main.tf
  modules/processing-environment-api/chat-stream.tf
  modules/processing-environment-api/iam-vpc-attachments.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/scripts/build-chat-stream-package.sh
  modules/processing-environment-api/variables.tf
  modules/web-ui/lambda.tf
  modules/web-ui/local-build.tf
  modules/web-ui/main.tf
  modules/web-ui/outputs.tf
  modules/web-ui/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(api)!: Rename API visibility to api_gateway_visibility
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  locals.tf
  main.tf
  modules/vpc-endpoints/outputs.tf
  modules/vpc-endpoints/variables.tf
  network.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(web-ui)!: Remove ALB hosting mode
  docs/migration-v0.5.16-to-v0.6.4.md
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/variables.tf
  locals.tf
  main.tf
  modules/user-identity/main.tf
  modules/user-identity/variables.tf
  modules/web-ui-alb/README.md
  modules/web-ui-alb/main.tf
  modules/web-ui-alb/outputs.tf
  modules/web-ui-alb/variables.tf
  modules/web-ui-alb/versions.tf
  modules/web-ui/lambda.tf
  modules/web-ui/main.tf
  modules/web-ui/outputs.tf
  modules/web-ui/variables.tf
  outputs.tf
  removed-v0-6-4.tf
  variables.tf
  versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

feat(web-ui): Add API Gateway S3-proxy hosting mode
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  locals.tf
  main.tf
  modules/processing-environment-api/outputs.tf
  modules/processing-environment-api/rest-api.tf
  modules/processing-environment-api/variables.tf
  modules/processing-environment-api/web-ui-hosting.tf
  modules/web-ui/lambda.tf
  modules/web-ui/local-build.tf
  modules/web-ui/main.tf
  modules/web-ui/outputs.tf
  modules/web-ui/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

feat(api): Add REST API stage logging; document Jobs API gap
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  modules/processing-environment-api/rest-api.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

fix(config): Map UDOP configs to pattern-2 system defaults
  src/lambda/configuration-seeder/index.py
Due: none

fix(config): Tolerate missing base-assessment.yaml for pattern-1
  src/lambda/configuration-seeder/index.py
Due: none

fix(layers): Reconcile idp_common extras allow-list with v0.6.4
  modules/lambda-layer-codebuild-idp/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(validation): add input validation for layer_prefix and idp_common_source_path variables
  modules/idp-common-layer/variables.tf
  modules/lambda-layer-codebuild-idp/lambda.tf
  modules/lambda-layer-codebuild-idp/main.tf
  modules/lambda-layer-codebuild-idp/scripts/stage-idp-common.sh
  modules/lambda-layer-codebuild-idp/tests/input_validation.tftest.hcl
  modules/lambda-layer-codebuild-idp/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(validation): add input validation for layer_prefix and idp_common_source_path variables (#193)
  modules/idp-common-layer/variables.tf
  modules/lambda-layer-codebuild-idp/lambda.tf
  modules/lambda-layer-codebuild-idp/main.tf
  modules/lambda-layer-codebuild-idp/scripts/stage-idp-common.sh
  modules/lambda-layer-codebuild-idp/tests/input_validation.tftest.hcl
  modules/lambda-layer-codebuild-idp/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(hooks): Wire the v0.6 preprocessing and postprocessing hook points
  modules/processing-environment/iam.tf
  modules/processing-environment/lambda_functions.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/pipeline_hooks.tf
  modules/processors/unified-processor/tests/engine_pipeline_hooks.tftest.hcl
  modules/processors/unified-processor/tests/engine_use_bda.tftest.hcl
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(ocr): Add the v0.6 BDA OCR-only backend path
  main.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/variables.tf
  modules/processors/sagemaker-udop-processor/main.tf
  modules/processors/sagemaker-udop-processor/variables.tf
  modules/processors/unified-processor/bda_ocr_project.tf
  modules/processors/unified-processor/lambda.tf
  modules/processors/unified-processor/variables.tf
  src/lambda/bda-ocr-project/index.py
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(bedrock): Handle global./ca./sa. inference-profile model IDs
  modules/processing-environment-api/agent-analytics/main.tf
  modules/processing-environment-api/locals.tf
  modules/processors/unified-processor/locals.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: Record Phase 3 changes and the permissions-boundary decision
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
Due: test-docs, build-docs

fix: Unblock plan on a fresh (empty-state) deployment
  features.tf
  locals.tf
  modules/features/mcp-integration/main.tf
  modules/features/mcp-integration/outputs.tf
  modules/features/mcp-integration/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): Finish the AppSync->REST migration for feature plugins
  features.tf
  main.tf
  modules/features/chat-with-document/iam.tf
  modules/features/chat-with-document/main.tf
  modules/features/chat-with-document/outputs.tf
  modules/features/chat-with-document/variables.tf
  modules/features/feature-platform/main.tf
  modules/features/feature-platform/outputs.tf
  modules/features/feature-platform/variables.tf
  modules/processing-environment-api/dispatcher.tf
  modules/processing-environment-api/feature-plugins.tf
  modules/processing-environment-api/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(mcp): Build agentcore_gateway_manager wheels for the target architecture
  modules/features/mcp-integration/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): Correct the WAF enablement gate so the REST API WAF can apply
  modules/processing-environment-api/rest-api.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): Port the document listing/versions resolvers to the REST dispatcher
  modules/processing-environment-api/dispatcher.tf
  modules/processing-environment-api/document-resolvers.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): guard api.visibility validation against its null default
  variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

test: update native tests for v0.6.4 behavior (FINDING-2)
  tests/feature-plugin-enablement.tftest.hcl
  tests/private-endpoint-gap.tftest.hcl
Due: none

fix(unified): grant OCR role tracking-table write unconditionally (v0.6.4)
  modules/processors/unified-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(unified): grant process-results + assessment roles tracking-table access unconditionally
  modules/processors/unified-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(unified): plumb assessment_model_id through root + unified example
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  main.tf
  variables.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix: expose tracking table billing_mode/capacity from processing-environment
  main.tf
  modules/processing-environment/main.tf
  modules/processing-environment/variables.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix: pass deterministic execution name to prevent duplicate/racing Step Functions executions
  sources/src/lambda/queue_processor/index.py
  sources/src/lambda/queue_processor/test_start_workflow.py
Due: none

fix(api): Scope Step Functions resolver IAM to own executions
  main.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/locals.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(api): Scope Step Functions resolver IAM to own executions (#206)
  main.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/locals.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(config)!: make step models config-authoritative and preserve operator edits
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  modules/processor-configuration/main.tf
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/locals.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/tests/engine_config_authority.tftest.hcl
  src/lambda/configuration-seeder/index.py
  src/lambda/configuration-seeder/test_index.py
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

Fix/api visibility null validation (#194)
  examples/unified-processor/main.tf
  examples/unified-processor/variables.tf
  main.tf
  modules/processors/unified-processor/iam.tf
  tests/feature-plugin-enablement.tftest.hcl
  tests/private-endpoint-gap.tftest.hcl
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(processor)!: collapse three processor inputs into one processor variable
  CHANGELOG.md
  docs/migration-v0.5.16-to-v0.6.4.md
  examples/bda-processor/main.tf
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor/main.tf
  examples/sagemaker-udop-processor/main.tf
  examples/unified-processor/main.tf
  features.tf
  locals.tf
  main.tf
  modules/processors/bda-processor/main.tf
  outputs.tf
  tests/exactly-one-processor.tftest.hcl
  tests/feature-plugin-enablement.tftest.hcl
  tests/private-endpoint-gap.tftest.hcl
  tests/processor-type-validation.tftest.hcl
  tests/rbac-federation-enablement.tftest.hcl
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*
