Repository awslabs/genai-idp-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

terraform-fmt:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Checking Terraform formatting..."
  - terraform fmt -check -recursive -diff
  - echo "✅ Terraform formatting is correct"

terraform-validate:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  before_script:
  - apk add --no-cache curl unzip
  - terraform --version
  stage: validate
  script:
  - echo "Validating Terraform configurations in modules..."
  ...

terraform-lint:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl unzip bash
  - terraform --version
  ...

terraform-security:
  image: alpine:latest
  stage: validate
  allow_failure: true
  before_script:
  - apk add --no-cache curl bash
  - curl -sSLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v${TFSEC_VERSION}/tfsec-linux-amd64
  - chmod +x tfsec
  - mv tfsec /usr/local/bin/
  - tfsec --version
  script:
  ...

terraform-checkov:
  stage: validate
  allow_failure: true
  image:
    name: bridgecrew/checkov:latest
    entrypoint:
    - /usr/bin/env
    - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  script:
  - checkov -d . | tee checkov.test.xml
  artifacts:
    reports:
      junit: checkov.test.xml
    paths:
  ...

terraform-docs:
  image:
    name: hashicorp/terraform:$TF_VERSION
    entrypoint:
    - ''
  stage: validate
  before_script:
  - apk add --no-cache curl
  - terraform --version
  - curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v0.17.0/terraform-docs-v0.17.0-$(uname)-amd64.tar.gz
  - tar -xzf terraform-docs.tar.gz
  ...

terraform-quality-gate:
  stage: validate
  image: alpine:latest
  script:
  - echo "✅ All Terraform quality checks passed!"
  - echo "Ready for merge to main branch"
  needs:
  - job: terraform-fmt
    optional: false
  - job: terraform-validate
    optional: true
  - job: terraform-lint
    optional: true
  - job: terraform-security
  ...

test-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: test
  script:
  - cd docs
  - echo "Testing documentation build..."
  - mkdocs build --verbose
  - echo "Documentation builds successfully"

build-docs:
  image: python:3.11-slim
  before_script:
  - apt-get update && apt-get install -y git
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt
  stage: build
  script:
  - cd docs
  - echo "Building documentation..."
  - mkdocs build --clean
  - echo "Documentation built successfully"
  artifacts:
    paths:
  ...

feat(terraform): Refactor evaluation layer and HITL architecture
  main.tf
  modules/processing-environment-api/mcp-integration.tf
  modules/processing-environment-api/variables.tf
  modules/processing-environment/lambda_evaluation.tf
  modules/processing-environment/main.tf
  modules/processing-environment/variables.tf
  modules/processor-attachment/evaluation.tf
  modules/processor-attachment/main.tf
  modules/processor-attachment/outputs.tf
  modules/processor-attachment/variables.tf
  modules/processors/bda-processor/iam.tf
  modules/processors/bda-processor/lambda.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/bedrock-llm-processor/outputs.tf
  modules/processors/bedrock-llm-processor/variables.tf
  outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(terraform): Drop count predicates on unknown ARNs
  modules/processing-environment-api/README.md
  modules/processing-environment-api/mcp-integration.tf
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore(terraform): Strip private upgrade-note bookkeeping from comments
  main.tf
  modules/processing-environment-api/mcp-integration.tf
  modules/processing-environment/main.tf
  modules/processor-attachment/main.tf
  modules/processor-configuration/main.tf
  modules/processor-configuration/variables.tf
  modules/processors/bda-processor/iam.tf
  modules/processors/bda-processor/lambda.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/bedrock-llm-processor/iam.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/bedrock-llm-processor/main.tf
  modules/processors/sagemaker-udop-processor/main.tf
  outputs.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

chore(terraform): Strip NOTE-014b ref from processor-configuration README
  modules/processor-configuration/README.md
Due: terraform-docs

chore(dependabot): Exclude sources/ from all ecosystem scans
  .github/dependabot.yml
Due: none

fix(examples): Remove stale evaluation_config from processing-environment
  examples/README.md
  examples/processing-environment/main.tf
  examples/processing-environment/outputs.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processor-configuration): Grant DeleteItem to seeder
  modules/processor-configuration/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processors): Use data.aws_region.current.id in codebuild
  modules/processors/bda-processor/codebuild.tf
  modules/processors/sagemaker-udop-processor/codebuild.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processors): Scope evaluation Lambda IAM (lambda/ssm/bedrock)
  modules/processing-environment/lambda_functions.tf
  modules/processors/bda-processor/iam.tf
  modules/processors/sagemaker-udop-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(bedrock-llm-processor): Scope evaluation Lambda bedrock:InvokeModel
  modules/processors/bedrock-llm-processor/iam.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processing-environment-api): Drop S3 wildcard in dataset deployer
  modules/processing-environment-api/dataset-deployers.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processing-environment-api): Drop SQS/KMS wildcard fallbacks
  modules/processing-environment-api/capacity-planning.tf
  modules/processing-environment-api/hitl.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(security): Replace KMS Resource='*' fallback with non-existent ARN
  modules/processing-environment-api/abort-workflow.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/mcp-integration.tf
  modules/processing-environment-api/sync-bda-idp.tf
  modules/processing-environment-api/test-studio.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(processing-environment-api): Drop API_KEY default for module callers
  modules/processing-environment-api/api_key.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(root): Add check enforcing encryption_key_arn when enable_encryption=true
  main.tf
Due: terraform-fmt, terraform-checkov, terraform-docs, terraform-quality-gate

ci(github-actions): Restore terraform validate / tflint / tfsec / checkov
  .github/workflows/terraform-validation.yml
Due: none

ci(tflint): Track .tflint.hcl so CI can find it
  .gitignore
  .tflint.hcl
Due: terraform-lint

ci(tflint): Fix tflint to walk all modules without crashing
  .github/workflows/terraform-validation.yml
  Makefile
  modules/processing-environment-api/.tflint.hcl
  modules/processing-environment-api/versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

ci(tfsec): Use aquasecurity/tfsec-action; scan modules/ subtree
  .github/workflows/terraform-validation.yml
Due: none

feat(vpc): Support fully isolated VPC with private AppSync API
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  main.tf
  modules/processing-environment-api/iam-vpc-attachments.tf
  modules/processing-environment-api/iam.tf
  modules/processing-environment-api/main.tf
  modules/processing-environment-api/mcp-integration.tf
  modules/processors/bedrock-llm-processor/lambda.tf
  modules/processors/sagemaker-udop-processor/lambda.tf
  modules/reporting/main.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(layers): Per-layer build dir to stop fat layer collisions
  modules/lambda-layer-codebuild-idp/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(lambda-layer-codebuild-idp): Stage idp_common deterministically
  modules/lambda-layer-codebuild-idp/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: Refresh version references to 0.4.16-tf.1
  README.md
  docs/content/index.md
Due: terraform-docs, test-docs, build-docs

fix(sagemaker-udop-processor): Repair example default and wire extraction_model_id
  docs/content/examples/bedrock-llm-processor.md
  examples/sagemaker-udop-processor/main.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/processors/sagemaker-udop-processor/lambda.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

fix(sagemaker-udop-processor): Wait for IAM propagation before CodeBuild start
  modules/processors/sagemaker-udop-processor/codebuild.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(sagemaker-udop-processor): Wait for IAM propagation before CreateStateMachine
  modules/processors/sagemaker-udop-processor/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

fix(sagemaker-udop-processor): Bump retired claude-3-5-sonnet-20241022-v2 default
  examples/sagemaker-udop-processor/terraform.tfvars.example
Due: none

chore: Release v0.4.16-tf.2
  CHANGELOG.md
  README.md
  VERSION
  docs/migration-guide.md
Due: terraform-docs, test-docs, build-docs

fix: reconcile broken sources/ paths for v0.5.12 snapshot (tasks 1.1, 1.2)
  examples/bda-processor/variables.tf
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/variables.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  examples/sagemaker-udop-processor/terraform.tfvars.example
  examples/sagemaker-udop-processor/variables.tf
  main.tf
  modules/human-review/README.md
  modules/human-review/functions/cognito-updater/README.md
  modules/human-review/functions/cognito-updater/main.tf
  modules/human-review/functions/cognito-updater/outputs.tf
  modules/human-review/functions/cognito-updater/variables.tf
  modules/human-review/functions/create-a2i-resources/README.md
  modules/human-review/functions/create-a2i-resources/main.tf
  modules/human-review/functions/create-a2i-resources/outputs.tf
  modules/human-review/functions/create-a2i-resources/variables.tf
  modules/human-review/functions/get-workforce-url/README.md
  modules/human-review/functions/get-workforce-url/main.tf
  modules/human-review/functions/get-workforce-url/outputs.tf
  modules/human-review/functions/get-workforce-url/variables.tf
  modules/human-review/functions/pattern2-hitl-process/README.md
  modules/human-review/functions/pattern2-hitl-process/main.tf
  modules/human-review/functions/pattern2-hitl-process/outputs.tf
  modules/human-review/functions/pattern2-hitl-process/variables.tf
  modules/human-review/functions/pattern2-hitl-status-update/README.md
  modules/human-review/functions/pattern2-hitl-status-update/main.tf
  modules/human-review/functions/pattern2-hitl-status-update/outputs.tf
  modules/human-review/functions/pattern2-hitl-status-update/variables.tf
  modules/human-review/functions/pattern2-hitl-wait/README.md
  modules/human-review/functions/pattern2-hitl-wait/main.tf
  modules/human-review/functions/pattern2-hitl-wait/outputs.tf
  modules/human-review/functions/pattern2-hitl-wait/variables.tf
  modules/human-review/main.tf
  modules/human-review/outputs.tf
  modules/human-review/templates/pattern2-hitl-ui-template.html
  modules/human-review/variables.tf
  modules/human-review/versions.tf
  modules/processing-environment-api/main.tf
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(processors): add shared internal unified-processor engine (tasks 2.1, 2.2)
  modules/processors/unified-processor/README.md
  modules/processors/unified-processor/iam.tf
  modules/processors/unified-processor/iam_bda.tf
  modules/processors/unified-processor/lambda.tf
  modules/processors/unified-processor/lambda_bda.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/locals.tf
  modules/processors/unified-processor/main.tf
  modules/processors/unified-processor/outputs.tf
  modules/processors/unified-processor/schema.json
  modules/processors/unified-processor/variables.tf
  modules/processors/unified-processor/versions.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

docs: regenerate module READMEs and update example tfvars (task 13.3)
  examples/bda-processor/README.md
  examples/bda-processor/terraform.tfvars.example
  examples/bedrock-llm-processor-vpc/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/terraform.tfvars.opus-4-7.example
  examples/processing-environment/README.md
  examples/sagemaker-udop-processor/terraform.tfvars.example
  modules/assets-bucket/README.md
  modules/concurrency-table/README.md
  modules/configuration-table/README.md
  modules/idp-common-layer/README.md
  modules/lambda-layer-codebuild-idp/README.md
  modules/lambda-layer-codebuild/README.md
  modules/processing-environment-api/README.md
  modules/processing-environment/README.md
  modules/processor-attachment/README.md
  modules/processor-configuration/README.md
  modules/processors/bda-processor/README.md
  modules/processors/bedrock-llm-processor/README.md
  modules/processors/sagemaker-udop-processor/README.md
  modules/processors/unified-processor/README.md
  modules/reporting/README.md
  modules/tracking-table/README.md
  modules/user-identity/README.md
  modules/web-ui/README.md
Due: terraform-docs

feat: v0.5.12 Round 2 — RBAC, SAML/OIDC federation, VPC endpoints + drop-ins
  Makefile
  docs/plans/vpc-endpoints-moved-0-0.md
  examples/bedrock-llm-processor-vpc/main.tf
  examples/bedrock-llm-processor-vpc/verify-moved-0-0.sh
  modules/features/idp-federation/README.md
  modules/features/idp-federation/main.tf
  modules/features/idp-federation/outputs.tf
  modules/features/idp-federation/tests/.gitkeep
  modules/features/idp-federation/tests/secret_and_additivity.tftest.hcl
  modules/features/idp-federation/variables.tf
  modules/features/idp-federation/versions.tf
  modules/features/rbac/README.md
  modules/features/rbac/main.tf
  modules/features/rbac/outputs.tf
  modules/features/rbac/tests/groups.tftest.hcl
  modules/features/rbac/tests/role_least_privilege.tftest.hcl
  modules/features/rbac/tests/schema_and_scoping.tftest.hcl
  modules/features/rbac/tests/schema_fixture/main.tf
  modules/features/rbac/variables.tf
  modules/features/rbac/versions.tf
  modules/processor-configuration/README.md
  modules/processor-configuration/main.tf
  modules/processor-configuration/outputs.tf
  modules/processor-configuration/tests/managed_config_seeding.tftest.hcl
  modules/processors/unified-processor/README.md
  modules/processors/unified-processor/iam_bedrock_hub.tf
  modules/processors/unified-processor/lambda.tf
  modules/processors/unified-processor/lambda_rule_validation.tf
  modules/processors/unified-processor/locals.tf
  modules/processors/unified-processor/tests/engine_bedrock_hub.tftest.hcl
  modules/processors/unified-processor/variables.tf
  modules/vpc-endpoints/README.md
  modules/vpc-endpoints/main.tf
  modules/vpc-endpoints/outputs.tf
  modules/vpc-endpoints/tests/toggle_and_partition.tftest.hcl
  modules/vpc-endpoints/variables.tf
  modules/vpc-endpoints/versions.tf
  network.tf
  tests/private-endpoint-gap.tftest.hcl
  tests/rbac-federation-enablement.tftest.hcl
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

feat: v0.5.12 Round 3 — config-shape flags, version-check, W2 deployer, TypeDateIndex GSI + backfill
  CHANGELOG.md
  docs/migration-v0.4.16-to-v0.5.12.md
  docs/plans/typedateindex-gsi-inplace-0-0.md
  examples/bedrock-llm-processor/config-overlays/round3-x-aws-idp-flags.yaml
  examples/bedrock-llm-processor/main.tf
  examples/bedrock-llm-processor/terraform.tfvars.example
  examples/bedrock-llm-processor/variables.tf
  features.tf
  main.tf
  modules/processing-environment-api/README.md
  modules/processing-environment-api/test-studio.tf
  modules/processing-environment-api/tests/version_check.tftest.hcl
  modules/processing-environment-api/tests/visibility.tftest.hcl
  modules/processing-environment-api/tests/w2_dataset_deployer.tftest.hcl
  modules/processing-environment-api/variables.tf
  modules/processing-environment-api/version-check.tf
  modules/tracking-gsi-backfill/README.md
  modules/tracking-gsi-backfill/main.tf
  modules/tracking-gsi-backfill/outputs.tf
  modules/tracking-gsi-backfill/templates/backfill.asl.json.tftpl
  modules/tracking-gsi-backfill/tests/.gitkeep
  modules/tracking-gsi-backfill/tests/backfill_default_off_and_least_privilege.tftest.hcl
  modules/tracking-gsi-backfill/variables.tf
  modules/tracking-gsi-backfill/versions.tf
  modules/tracking-table/main.tf
  src/lambda/configuration-seeder/index.py
  src/lambda/configuration-seeder/test_index.py
  variables.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate, test-docs, build-docs

docs: make CHANGELOG generic about features, drop round framing
  CHANGELOG.md
Due: none

fix(chat-with-document): allow empty system prompt in chat config
  modules/features/chat-with-document/main.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

feat(bda-processor): add enable_api and enable_encryption variables for improved configuration management
  main.tf
  modules/processors/bda-processor/main.tf
  modules/processors/bda-processor/variables.tf
  modules/processors/unified-processor/lambda_bda.tf
Due: terraform-fmt, terraform-validate, terraform-lint, terraform-security, terraform-checkov, terraform-docs, terraform-quality-gate

Path conditions:
  terraform-fmt: any of: **/*.tf, **/*.tfvars
  terraform-validate: any of: modules/**/*.tf, modules/**/*.tfvars
  terraform-lint: any of: modules/**/*.tf, modules/**/*.tfvars, .tflint.hcl
  terraform-security: any of: modules/**/*.tf, modules/**/*.tfvars, .tfsec/**/*
  terraform-checkov: any of: **/*.tf, modules/**/*.tf, modules/**/*.tfvars, .checkov.yml
  terraform-docs: any of: **/*.tf, **/README.md
  terraform-quality-gate: any of: **/*.tf, **/*.tfvars
  test-docs: any of: docs/**/*
  build-docs: any of: docs/**/*
